*{
  
  box-sizing: border-box;
}
body{
    margin:0;
}
main{
  padding:36px;
}
.nav{
  
  display: flex;
  align-items: center;
  height: 68px;
  color:#fff;
  padding: 20px;
  background-image: linear-gradient(to right, rgb(76, 1, 99) ,  rgb(122, 0, 159), rgb(195, 0, 254));
}
.nav-icon{
  height: 100%;
  margin-right: 6px;
}
.nav--title{
  font-size: 0.75rem;
  margin-right:auto;
}
.form{
   display: grid;
   gap: 12px;
   grid-template: 40px 40px / 1fr 1fr ;
}
.form--input{
  border-radius: 5px;
  border:1px solid #D5D4D8;
  text-indent: 5px;

}
.form--button{
  grid-column: 1/-1;
  color: #fff;
  background-image: linear-gradient(to right, rgb(76, 1, 99) ,  rgb(122, 0, 159), rgb(195, 0, 254));
}

